if !dictionary.auth_options.auth_version || (dictionary.auth_options.auth_version && dictionary.auth_options.auth_version=='1.0')
  label Request Token Url
  input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_request_url || ''}" data-provider="github" data-prop="auth_options.oauth_request_url")
  p.hint The Url used to initialize the OAuth 1.0 workflow.
label Authorize Url
input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_authorize_url || ''}" data-provider="github" data-prop="auth_options.oauth_authorize_url")
p.hint The Url to redirect users to so that they can Authorize the application.
label Access Token Url
input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_token_url || ''}" data-provider="github" data-prop="auth_options.oauth_token_url")
p.hint The Url that can be used to exchange a given code for an Access Token. More information on OAuth 2.0 can be found
  a(href="") here
.row
  .col-md-3
    label Uses Refresh Tokens
    br
    input.form-control.auth-item(type="checkbox"
      checked=dictionary.auth_options.uses_refresh_token==true
      data-provider="github" data-prop="auth_options.uses_refresh_token")
  .col-md-3
    label Sign Requests
    br
    input.form-control.auth-item(type="checkbox"
      checked=dictionary.auth_options.sign_requests==true
      data-provider="github" data-prop="auth_options.sign_requests")
if info.saved_credentials===true
  a(href="/api/removeoauthcreds/#{info._id}").inline.primary-button Remove OAuth Credentials
else
  a(href="/api/saveoauthpopup/#{info._id}").inline.primary-button Store OAuth Credentials
p.hint To simplify the authentication process for end users you can store your Client Id and Client Secret against the dictionary. These details will
  strong NOT
  | be available publicly and will
  strong NOT
  | be included in the GitHub repository.
.spacer
h4 Advanced
label Redirect Uri Parameter
input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_redirect_url_parameter || ''}" data-provider="github" data-prop="auth_options.oauth_redirect_url_parameter")
p.hint If your OAuth redirect uri parameter is NOT 'redirect_uri' then you can specify it here
label Send parameters in query string
br
input.form-control.auth-item(type="checkbox"
  checked=dictionary.auth_options.oauth_params_in_query==true
  data-provider="github" data-prop="auth_options.oauth_params_in_query")
p.hint Check this if your OAuth provider requires parameters to be sent in the query string instead of the body
label Additional Query String Parameters
input.form-control.auth-params(type="text"
  value=dictionary.auth_options.oauth_additional_params
  data-provider="github" data-prop="auth_options.oauth_additional_params")
