include ../header.jade
include ./navigation.jade
include ../errorbanner.jade
.container.wizard.general
  h1 #{info.display_name}
  h2 What's the magic word?
  .row
    for auth in defaults.auth_methods
      .col-md-3
        div(class='card' class='auth-method' class=dictionary.auth_method==auth.name?'active':'' data-provider='github' data-prop='auth_method' data-item='#{auth.name}')
          .auth-type
            h3 #{auth.name}
          .auth-desc
            p.hint #{auth.description}
  if dictionary.auth_method=='OAuth'  
    .row
      .col-md-12
        .auth-version
          label OAuth Version
          br
          span.inline 1.0
          input.inline.form-control(type='radio' name='authversion' data-provider='github' data-prop='auth_options.auth_version' value='1.0'
            checked=dictionary.auth_options.auth_version&&dictionary.auth_options.auth_version=='1.0'?'checked':'checked'
          )
          span.inline 2.0
          input.inline.form-control(type='radio' name='authversion' data-provider='github' data-prop='auth_options.auth_version' value='2.0'
            checked=dictionary.auth_options.auth_version&&dictionary.auth_options.auth_version=='2.0'?'checked':null
          )
  .row
    .col-md-12
      case dictionary.auth_method
        when "None"
          include ./auth/none.jade
        when "Basic"
          include ./auth/basic.jade
        when "API Key"
          include ./auth/api-key.jade
        when "OAuth"
          include ./auth/oauth.jade
        default
          include ./auth/none.jade
    .col-md-12
      .spacer
      button.save.primary-button Save
      p.save-successful(style='display:none;') Changes successfully save and committed
      p.hint.save-description Clicking save will commit the changes. Until then they will only be stored against the current session.                      
include ../footer.jade
