div.container.navigation
  .row.dictionary-nav
    .col-md-2
      div(class='nav-button' class='card' class=page=='general'?'active':'')
        a(href="/general/#{info._id}") General  
    .col-md-2
      div(class='nav-button' class='card' class=page=='auth'?'active':'')
        a(href="/authentication/#{info._id}") Authentication
    .col-md-2
      div(class='nav-button' class='card' class=page=='paging'?'active':'')
        a(href="/paging/#{info._id}") Paging
    .col-md-2
      div(class='nav-button' class='card' class=page=='schema'?'active':'')
        a(href="/schema/#{info._id}?table=0") Schema
  .row
    .col-md-12
      .spacer
      .float-left
        h1.float-left #{info.display_name}        
        span #{info.public===true?'Published':'Unpublished'}
      .float-right      
        button.save.primary-button Save     
      .float-right.horizontal-spacer
      .float-right           
        button.publish.secondary-button #{info.public===true?'Unpublish':'Publish'}
    .col-md-12
      .align-right        
        p.hint.publish-description Clicking 'Publish' will make your dictionary available in the 'Public Dictionaries'. Until then only you can see it (except for in GitHub).
        p.save-successful(style='display:none;') Changes successfully save and committed
        p.hint.save-description Clicking 'Save' will commit the changes. Until then they will only be stored against the current session.
